::ng-deep.ant-card-body{
  width: 100%;
}
.list-container{
  padding:12px 20px;
  background-color: #F8F9F9;
  //display: inline-block;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 420px;
  margin-right: 20px;
  margin-bottom: 10px;
}
