<form nz-form [formGroup]="validateForm" class="login-form">
    <nz-form-item>
        <nz-form-control nzErrorTip="密码">
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="密码" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="密码">
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="newPassword" placeholder="新密码" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
</form>

