.history-frame{
  width: 100%;
  background: #fff;
  padding: 20px;
}
.search{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.search-frame{
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.search-button{
  width: 70px;
  height: 27px;
  margin-right: 10px;
  border-radius: 13.5px;
  font-size: 13px;
  background-color: #5184F7;
}
.export-button{
  width: 70px;
  height: 27px;
  margin-right: 10px;
  border-radius: 13.5px;
  font-size: 13px;
}
.submit-frame{
  width: 30%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width:980px ) {
  .search-frame{
    justify-content: flex-start;
  }
  .exit-out-frame{
    margin-left: 20px;
  }
  .warning-frame{
    margin-left: 20px;
    margin-top: 10px;
  }
  .time-frame{
    margin-top: 10px;
  }
  .submit-frame{
    align-items: flex-start;
  }


}
.container{
  background-color: #fff;
  width: 100%;
  tr{
    td,th{
      padding:16px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      min-width:80px;
      max-width:300px;
    }
    &:hover{
      background-color: #e6f7ff;
    }
  }

}
.nzGroup{
  margin-left: 10px;
}
@media screen and (max-width:980px ) {
  .nzGroup{
    margin-left: 0;
  }

}
